<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature_blue" >

    <application>
        <activity
            android:name="com.example.feature_blue.ui.BlueFlowActivity"
            android:label="@string/blue"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
